<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Hired</title>
    <style> 
        .center { 
            display: flex; 
            justify-content: center; 
            color: whitesmoke;
            height: 500px; 
            margin-top: 100px;
            text-align: center;
        } 
    </style> 
</head>
<body style="background-color: royalblue;">
<div class="center">
    <section>
        <h1 style="font-size: 4vw">Welcome to Get Hired!</h1>
        <h3>Your one Stop platform to help you find your job</h3>
        <div style="align-items: center; margin-top: 100px;">
            <a href="{% url 'login' %}" style="color: yellow;" > Join Us Toady</a>
        </div>
        
    </section>
</div>
    
</body>
</html>